body {
    background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);

    height: 100vh;

}

#img1 {
    margin: 3vh;
    height: 8vh;
}
#img2 {
    display: block;
    left: 23vh;
    bottom: 15px;
}
#one {
    margin-top: 20vh;
    padding-left: 5vh;
}
#one h2 {
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}


#one h1 {
    font-size: 70px;
    color: #000;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Anton', sans-serif;
}

#one p {
    margin-top: 10vh;
    font-size: 40px;
    color: #000;
    text-align: left;
    font-family: 'Satisfy', cursive;
}


#name {
    position: absolute;
    bottom:2vh;
    right: 5vw;
    font-size: 30px;
    color: #3b5998;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 600px){
    #one {
        margin-top: 5vh;
        padding-left: 5vh;
    }
    #one h2 {
        font-size: 25px;
    }
    #one h1 {
        font-size:50px;
    }

    #one p {
        margin-top: 5vh;
        font-size: 30px;
    }
    #name {
        bottom:2vh;
        right: 5vw;
        font-size: 20px;
    }

}
